.skills--parent {
    display: flex;
    width: 99vw;
    height: 94.5vh;
    justify-content: center;
    align-items: center;
    background-color: #040303;
}

.skills--container {
    display: flex;
    flex-wrap: wrap;
    width : 40vw;
    height: 90vh;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.skills--parent img {
    height: 8rem;
}

.skill {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    background-color: #f1f1f1;
}
.framer--img , .mongodb--img{
    border-radius: 50%;
}
/* 
.firebase {
    width: 139px;
    border-radius: 50%;
    mix-blend-mode: multiply;
} */
